# v0 runtime files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts

# Common ignores
node_modules/
.next/
.env
.env*.local
.DS_Store
out
dist

# Native addon build artifacts
src/native/*/build/

# Custom ignores
.eslintcache
*.tsbuildinfo
.claude
CLAUDE.md
docs
examples
example_datas
/src/generated/prisma
prisma/migrations
debug.ts
database/konomi.db
database/*.db-journal
database/*.db-shm
database/*.db-wal
